[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/quill"]
	path = vendor/quill
	url = https://github.com/odygrd/quill
[submodule "vendor/hlslpp"]
	path = vendor/hlslpp
	url = https://github.com/redorav/hlslpp
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
